_old_code/
__pycache__/
__datasets__/
pytorch-CycleGAN-and-pix2pix/checkpoints/
pytorch-CycleGAN-and-pix2pix/results/
datasets/
.conda/
__datasets__/
*.zip
results/
results_fail/

/**/*.zip
__images__/
data/models/smplx

*pth

# for all external models that are downloaded sperately, I want to keep documentation in their respective directories
models/**
!models/**/
!models/**/*.txt
!models/**/*.md

checkpoints/
checkpoints/**/*.pth
checkpoints/**/*.png
checkpoints/**/*.jpg
checkpoints/**/*.jpeg

samples/domain_x/

venv_smplx/